<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load notifications_tags %}
    {% notifications_unread as unread_count %}

    <title>AI检测平台</title>

    <!-- GOOGLE FONTS -->
    <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />


    <!--link rel="stylesheet" href="/static/css/demo.css"-->
    <!--link rel="stylesheet" href="/static/css/style.css"-->
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <!-- INDEX CSS -->
    <script src="/static/plugins/nprogress.js"></script>
    <script src="/static/plugins/jquery.min.js"></script>
    <script src="/static/plugins/jquery.slimscroll.min.js"></script>
    <script src="/static/plugins/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/static/plugins/index.js"></script>
    <script src="/static/plugins/bootstrap.bundle.min.js"></script>


    <!--script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/tooltip.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/demo.js"></script-->
    <script src="/static/js/jquery.nicescroll.min.js"></script>
    <script src="/static/js/scroll-up-bar.min.js"></script>
    <script src="/static/js/sa-functions.js"></script>

    <link id="index-css" rel="stylesheet" href="/static/css/index.css"/>
  </head>


  <body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <div class="wrapper">
        <aside class="left-sidebar bg-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a>
                <svg
                  class="brand-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid"
                  width="30"
                  height="33"
                  viewBox="0 0 30 33"
                >
                <g fill="none" fill-rule="evenodd">
                  <path
                    fill="#7DBCFF"
                    d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
                  />
                  <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                </g>
                </svg>
                <span class="brand-name">AI检测平台</span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-scrollbar">
              <ul class="nav sidebar-inner" id="sidebar-menu">
                  <!--li  class="has-sub active expand" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
                      aria-expanded="false" aria-controls="dashboard">
                      <i class="mdi mdi-view-dashboard-outline"></i>
                      <span class="nav-text">提交任务</span> <b class="caret"></b>
                    </a>
                    <ul  class="collapse show"  id="dashboard"
                      data-parent="#sidebar-menu">
                      <div class="sub-menu">
                            <li  class="active" >
                              <a class="sidenav-item-link" href="/management/submit/">
                                <span class="nav-text">提交任务</span>
                              </a>
                            </li>
                      </div>
                    </ul>
                  </li-->

                  <li >
                    <a class="sidenav-item-link" href="/management/submit/">
                      <i class="mdi mdi-view-dashboard-outline"></i>
                      <span class="nav-text">提交任务</span>
                    </a>
                  </li>

                  <!--li  class="has-sub" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#taskList"
                      aria-expanded="false" aria-controls="taskList">
                      <i class="mdi mdi-cube-send"></i>
                      <span class="nav-text">提交记录</span> <b class="caret"></b>
                    </a>
                    <ul  class="collapse"  id="taskList"
                      data-parent="#sidebar-menu">
                      <div class="sub-menu">
                            <li>
                              <a class="sidenav-item-link" href="/management/taskList/">
                                <span class="nav-text">任务列表</span>
                              </a>
                            </li>
                      </div>
                    </ul>
                  </li-->


                  <li >
                    <a class="sidenav-item-link" href="/management/task/Record">
                      <i class="mdi mdi-cube-send"></i>
                      <span class="nav-text">提交记录</span>
                    </a>
                  </li>

                
                  <li  class="has-sub" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements"
                      aria-expanded="false" aria-controls="ui-elements">
                      <i class="mdi mdi-folder-multiple-outline"></i>
                      <span class="nav-text">公开任务</span> <b class="caret"></b>
                    </a>
                    <ul  class="collapse"  id="ui-elements"
                      data-parent="#sidebar-menu">
                      <div class="sub-menu" id="task_menu">
                        <li >
                          <a class="sidenav-item-link" href="/management/task/Submit">
                            <span class="nav-text">发布任务</span>
                          </a>
                        </li>

                        <li >
                          <a class="sidenav-item-link" href="/management/task/List">
                            <span class="nav-text">任务列表</span>
                          </a>
                        </li>

                      </div>
                    </ul>
                  </li>





                  <li  class="has-sub" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#charts"
                      aria-expanded="false" aria-controls="charts">
                      <i class="mdi mdi-chart-pie"></i>
                      <span class="nav-text">文件中心</span> <b class="caret"></b>
                    </a>
                    <ul  class="collapse"  id="charts"
                      data-parent="#sidebar-menu">
                      <div class="sub-menu" id="result_menu">

                      </div>
                    </ul>
                  </li>





                  <li  class="has-sub" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#pages"
                      aria-expanded="false" aria-controls="pages">
                      <i class="mdi mdi-image-filter-none"></i>
                      <span class="nav-text">数据集列表</span> <b class="caret"></b>
                    </a>
                    <ul  class="collapse"  id="pages"
                      data-parent="#sidebar-menu">
                      <div class="sub-menu">
                            <li >
                              <a class="sidenav-item-link" href="{% url 'management:dataset_submit' %}">
                                <span class="nav-text">提交数据集</span>
                              </a>
                            </li>
                            <li >
                              <a class="sidenav-item-link" href="{% url 'management:dataset_list' %}">
                                <span class="nav-text">数据集列表</span>
                              </a>
                            </li>
                      </div>
                    </ul>
                  </li>


                  <li >
                    <a class="sidenav-item-link" href="/management/forum/list/">
                      <i class="mdi mdi-forum"></i>
                      <span class="nav-text">论坛</span>
                    </a>
                  </li>


                  <li  class="has-sub" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#documentation"
                      aria-expanded="false" aria-controls="documentation">
                      <i class="mdi mdi-book-open-page-variant"></i>
                      <span class="nav-text">帮助中心</span> <b class="caret"></b>
                    </a>
                    <ul  class="collapse"  id="documentation"
                      data-parent="#sidebar-menu">
                      <div class="sub-menu">
                            <li class="section-title">
                              帮助文档
                            </li>
                            <li >
                              <a class="sidenav-item-link" href="{% url 'privileges:introduction' %}">
                                <span class="nav-text">平台简介</span>

                              </a>
                            </li>
                            <li >
                              <a class="sidenav-item-link" href="{% url 'privileges:setup' %}">
                                <span class="nav-text">平台配置</span>
                              </a>
                            </li>
                            <li >
                              <a class="sidenav-item-link" href="{% url 'privileges:help' %}">
                                <span class="nav-text">常见问题</span>
                              </a>
                            </li>
                            <li >
                              <a class="sidenav-item-link" href="{% url 'privileges:contactUs' %}">
                                <span class="nav-text">联系我们</span>
                              </a>
                            </li>
                      </div>
                    </ul>
                  </li>
              </ul>
            </div>
          </div>
        </aside>



      <div class="page-wrapper">
                  <!-- Header -->
          <header class="main-header " id="header">
            <nav class="navbar navbar-static-top navbar-expand-lg">
              <!-- Sidebar toggle button -->
              <button id="sidebar-toggler" class="sidebar-toggle">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <!-- search form -->
              <div class="search-form d-none d-lg-inline-block">
                <div class="input-group">
                  <button type="button" name="search" id="search-btn" class="btn btn-flat">
                    <i class="mdi mdi-magnify"></i>
                  </button>
                  <input type="text" name="query" id="search-input" class="form-control" placeholder="搜索"
                    autofocus autocomplete="off" />
                </div>
                <div id="search-results-container">
                  <ul id="search-results"></ul>
                </div>
              </div>

              <div class="navbar-right ">
                <ul class="nav navbar-nav">
                  <!--li class="dropdown notifications-menu">
                    <button class="dropdown-toggle" data-toggle="dropdown">
                      <i class="mdi mdi-bell-outline"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li class="dropdown-header">You have 5 notifications</li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-account-plus"></i> New user registered
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-account-remove"></i> User deleted
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 07 AM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-chart-areaspline"></i> Sales report is ready
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 12 PM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-account-supervisor"></i> New client
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-server-network-off"></i> Server overloaded
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 05 AM</span>
                        </a>
                      </li>
                      <li class="dropdown-footer">
                        <a class="text-center" href="#"> View All </a>
                      </li>
                    </ul>
                  </li-->
                  <!-- User Account -->
                  {% if not request.user.is_authenticated %}
                    <div class="d-inline-block">
                      <a href="{% url 'privileges:register' %}">点击注册</a>
                      <a href="{% url 'privileges:login' %}">点击登录</a>
                      <small class="pt-1">未登录</small>
                    </div>
                  {% else %}
                    <li class="dropdown user-menu">
                      <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <img src="#" class="user-image" id="user-avatar-top1"/>

                        {% if unread_count %}
                            <svg viewBox="0 0 8 8"
                                 width="8px"
                                 height="8px">
                                <circle cx="4"
                                        cy="4"
                                        r="4"
                                        fill="#ff6b6b"
                                        ></circle>
                            </svg>
                        {% endif %}

                        <span class="d-none d-lg-inline-block">{{request.user.username}}</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <!-- User image -->
                        <li class="dropdown-header">
                          <img src="#" class="user-image" alt="User Image" id="user-avatar-top2"/>
                          <div class="d-inline-block">
                            {{request.user.username}} <small class="pt-1">{{request.user.email}}</small>
                          </div>
                        </li>

                        <li>
                          <a href="{% url 'privileges:profile' %}">
                            <i class="mdi mdi-account"></i> My Profile
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="{% url "management:notice_list" %}">
                              <i class="mdi mdi-email"></i> Message
                              {% if unread_count %}
                              <span class="badge badge-danger">{{ unread_count }}</span>
                              {% endif %}
                          </a>
                        </li>
                        <li>
                          <a href="#"> <i class="mdi mdi-diamond-stone"></i> Projects </a>
                        </li>
                        <li>
                          <a href="#"> <i class="mdi mdi-settings"></i> Account Setting </a>
                        </li>

                        <li class="dropdown-footer">
                          <a href="{% url 'privileges:logout' %}"> <i class="mdi mdi-logout"></i> Log Out </a>
                        </li>
                      </ul>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </nav>


          </header>
          {% block mainbody %}
             <h1>主体项为空</h1>
          {% endblock %}

      </div>
    </div>
<script>
    $.ajax({
        url: '/management/ajax/load_menu/',
        data:{
        },
        type: 'GET',
        dataType: 'json',
        success: function(data){
            var content = "";
            $.each(data, function(i, item){
                content += "<li ><a class='sidenav-item-link' href='/management/queryAllResult/";
                content += item;
                content += "'><span class='nav-text'>";
                content += item;
                content += "</span></a></li>";
            });
            document.getElementById("result_menu").innerHTML = content;
        }
    });

    $.ajax({
        url: '/privileges/get_avatar_url/',
        data:{
        },
        type: 'GET',
        dataType: 'json',
        success: function(data){

            if (data.length == 0) {
                $('#user-avatar-top1').attr('src', '/static/img/not_login_user.jpg/');
                $('#user-avatar-top2').attr('src', '/static/img/not_login_user.jpg/');

            }
            else {
                $('#user-avatar-top1').attr('src', data[0].url);
                $('#user-avatar-top2').attr('src', data[0].url);
            }
        }
    });


    //$.ajax({
        //url: '/management/ajax/load_task/',
        //data:{
        //},
        //type: 'GET',
        //dataType: 'json',
        //success: function(data){
            //var content = "";
            //content += "<li ><a href='/management/task/Submit/'> 发布任务 </a></li>";
            //content += "<li  class='has-sub' > <a class='sidenav-item-link' href='javascript:void(0)' data-toggle='collapse'"
            //content += "data-target='#upload-tasks' aria-expanded='false' aria-controls='upload-tasks'>"
            //content += "<span class='nav-text'>已有任务</span> <b class='caret'></b></a> <ul  class='collapse'  id='upload-tasks'>"
            //content += "<div class='sub-menu'>"
            //$.each(data, function(i, item){
                //content += "<li  class='has-sub' ><a class='sidenav-item-link' href='javascript:void(0)' data-toggle='collapse' data-target='#"
                //content += i + "' aria-expanded='false' aria-controls='"
                //content += i + "'><span class='nav-text'>";
                //content += i;
                //content += "</span> <b class='caret'></b></a><ul  class='collapse' id='"
                //content += i + "'><div class='sub-menu'>";
                //for(var x = 0; x < item.length; x++){
                  //content += "<li ><a href='/management/task/" + item[x] + "'>";
                  //content += item[x] + "</a></li>"
                //}
                //content += "</div></ul></li>";
            //});
            //content += "</div></ul></li>";
            //document.getElementById("task_menu").innerHTML = content;
        //}
    //});
</script>


  </body>
</html>
